<h1>Salida de Vehiculo</h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="respuestaError.errorCode == 'Error'">
<div class="col-md-12">
  <div class="alert alert-info" role="alert">
    {{respuestaError.errorMessage}}
  </div>
</div>
</div>
  <div *ngIf="vehiculo == null" class="row animated fadeIn">
    <div class="col-md-4">
      <form onsubmit="return false">
        <div class="form-group">
           <input class="form-control mr-sm-2" type="text" placeholder="Ingresar Placa" #buscarTexto>
        </div>
        <div class="form-group">
           <button (click)="buscarVehiculo(buscarTexto.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Consultar Costo</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="vehiculo != null" class="row animated fadeIn">
    <div class="col-md-12">
      <form (ngSubmit)="salidaVehiculo()" #forma="ngForm">
        <div class="row">
          <div class="col-md-4">
            <label>Placa</label>
            <input [(ngModel)]="vehiculo.placa" disabled name="placa" class="form-control" placeholder="Placa Vehiculo" required>
          </div>
          <div class="col-md-4">
            <label>Tipo Vehiculo</label>
            <select [(ngModel)]="vehiculo.tipoVehiculo" disabled class="form-control" name="tipovehiculo">
              <option value="1">CARRO</option>
              <option value="2">MOTO</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Fecha Ingreso</label>
            <input value="{{vehiculo.fechaIngreso | date:'yyyy-MM-dd HH:mm a z'}}" disabled class="form-control" name="fechaIngreso">
          </div>
          <div class="col-md-4">
            <label>Fecha Salida</label>
            <input value="{{vehiculo.fechaSalida | date:'yyyy-MM-dd HH:mm a z'}}" disabled class="form-control" name="fechaSalida">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Cilindraje</label>
            <input [(ngModel)]="vehiculo.cilindraje" disabled=true class="form-control" name="cilindraje">
          </div>
          <div class="col-md-4">
            <label>Total Pagar</label>
            <input value="{{vehiculo.valorPagar}}" class="form-control" disabled name="costo">
          </div>
        </div>
        <br>
          <div class="col-md-4">
            <button class="btn btn-outline-primary" type="submit">Pagar</button>
        </div>
      </form>
      </div>
  </div>
