<h1>Ingreso de Vehiculo</h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="respuestaError.errorCode == 'Error'">
<div class="col-md-12">
  <div class="alert alert-info" role="alert">
    {{respuestaError.errorMessage}}
  </div>
</div>
</div>

  <div class="row animated fadeIn">
    <div class="col-md-4">
      <form (ngSubmit)="ingresarVehiculo()" #forma="ngForm">
        <div class="form-group">
            <label>Placa</label>
            <input [(ngModel)]="vehiculo.placa" maxlength="7" name="placa" class="form-control text-uppercase" placeholder="Placa Vehiculo" required>
        </div>
        <div class="form-group">
          <label>Tipo Vehiculo</label>
          <select [(ngModel)]="vehiculo.tipoVehiculo" class="form-control" name="tipovehiculo" #selecTipo>
            <option value="1">CARRO</option>
            <option value="2">MOTO</option>
          </select>
        </div>
        <div class="form-group" *ngIf="selecTipo.value == 2">
          <label>Cilindraje</label>
          <input [(ngModel)]="vehiculo.cilindraje" type="number" class="form-control" placeholder="Cilindraje" name="cilindraje">
        </div>
        <div class="form-group">
          <!-- <button [disabled]="!forma.valid" [routerLink]="['/consulta']" class="btn btn-outline-primary" type="submit">Ingresar Vehiculo</button> -->
          <button [disabled]="!forma.valid" class="btn btn-outline-primary" type="submit">Ingresar Vehiculo</button>
        </div>
      </form>
      </div>
  </div>
